@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-image: url(../imagenes/caspar-schols-anna-stay_dezeen_2364_col_6.webp);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(#8ddd8d), to(#2FA4FF));
  background-image: linear-gradient(to left, #8ddd8d, #2FA4FF);
  padding: 40px;
  padding-bottom: 60px;
}

.headerNav {
  list-style-type: none;
  text-decoration: none;
}

.headerNav li {
  display: inline-block;
  margin-left: 2rem;
  text-decoration: none;
}

/* Seccion Principal */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 12rem;
  padding-right: 12rem;
  min-height: 100vh;
  min-width: 300px;
}

.aboutus {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.aboutus img {
  border-radius: 10px;
  margin-top: 3rem;
  margin-left: 20px;
}

.hero p {
  width: 700px;
  font-weight: 500;
  color: white;
  margin-top: 1rem;
}

.heroImg img {
  width: 400px;
  border-radius: 10px;
  min-width: 300px;
}

.heroTitle {
  font-weight: 700;
  font-size: 3rem;
  width: 700px;
  color: white;
}

.heroBotton {
  background-color: #8ddd8d;
  padding: 1rem;
  display: inline-block;
  color: #2FA4FF;
  margin-top: 1rem;
  border-radius: 5px;
}

/* Section Products*/
.infogeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 10rem;
  min-height: 100vh;
}

.infoProductos img {
  width: 300px;
  border-radius: 10px;
}

.infoProductos {
  width: 1000px;
}

.infoProductos div {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
  min-width: 300px;
}

.infoProductos ul {
  list-style-type: none;
  color: white;
  margin-top: 1.2rem;
}

.infoProductos p {
  color: white;
}

/*Contacto*/
.heroText form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  color: white;
  gap: 1rem;
  margin-left: 2rem;
  min-width: 300px;
}

.footer .Fimg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

#ContainerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 400px auto 400px;
      grid-template-rows: 400px auto 400px;
  min-height: 120vh;
  min-width: 300px;
}

.Servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33, 33%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 300px;
}

.Servicios .item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  color: #2FA4FF;
  font-size: 1rem;
  max-width: 1200px;
  margin: 5px;
  background-color: #E8F9FD;
  border-radius: 10px;
  padding: 10px;
  height: 250px;
  min-width: 463px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.item .titulos {
  font-size: 2rem;
  color: #2FA4FF;
}

.item:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

@media only screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    min-width: 300px;
  }
  .heroText {
    padding: 1rem;
    width: 100%;
  }
  .hero p {
    width: 100%;
  }
  .header {
    padding: 1rem;
  }
  .heroTitle {
    width: 100%;
  }
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Fimg img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 300px;
  }
}

.logo img {
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .contenedor {
    background-image: none;
    background-color: #2FA4FF;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infogeneral {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Servicios {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutus {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heroImg {
    visibility: hidden;
  }
  .Fimg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */