@mixin header {
display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: linear-gradient(to left, rgb(141, 221, 141), #2FA4FF);
    padding: 40px;
    padding-bottom: 60px;
}


@mixin body {
        background-image: url(../imagenes/caspar-schols-anna-stay_dezeen_2364_col_6.webp);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        height: 100vh;
    
}


@mixin heroBoton {
        background-color: #8ddd8d;
        padding: 1rem;
        display: inline-block;
        color: #2FA4FF;
        margin-top: 1rem;
        border-radius: 5px;
      }