@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagenes/caspar-schols-anna-stay_dezeen_2364_col_6.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: linear-gradient(to left, rgb(141, 221, 141),#2FA4FF);
    padding: 40px;
}

.headerNav {
    list-style-type: none;
    text-decoration: none;
}

.headerNav li {
    display: inline-block;
    margin-left: 2rem;
    text-decoration: none;
}

/* Seccion Principal */
.hero {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;

}

.hero p {
    width: 700px;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
}

.heroImg img {
    width: 400px;
}

.heroTitle {
    font-weight: 700;
    font-size: 3rem;
    width: 700px;
    color: white;
}

.heroBotton {
    background-color: rgb(141, 221, 141);
    padding: 1rem;
    display: inline-block;
    color: #2FA4FF;
    margin-top: 1rem;
    border-radius: 5px;
}

/* Section Products*/
.infogeneral {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10rem;

}

.infoProductos img {
    width: 300px;
    border-radius: 10px;
}

.infoProductos {
    width: 1000px;
}

.infoProductos div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.5rem;
}

.infoProductos ul {
    list-style-type: none;
    color: white;
    margin-top: 1.2rem;
}

.infoProductos p {
    color: white;
}

/*Contacto*/

.heroText form {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    gap: 1rem;
    margin-left: 2rem;
}


.footer {
    display: flex;
    margin: 200px;
    align-items: center;
    background-color: #E8F9FD;

}

.footer .Fimg {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;


}

#ContainerGrid {
    display: grid;
    grid-template-rows: 400px auto 400px;
    min-height: 120vh;
    margin-left: 1%;
    margin-right: 1%;




}

.Servicios {
    display: flex;
    width: 33, 33%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.Servicios .item {
    flex-wrap: wrap;
    font-weight: 300;
    color: #2FA4FF;
    font-size: 1rem;
    max-width: 1200px;
    margin: 5px;
    background-color: #E8F9FD;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    height: 250px;

}

.item .titulos {
    font-size: 2rem;
    color: #2FA4FF;
}





@media only screen and (max-width: 600px) {
 .hero {
     flex-direction: column;
     padding: 1rem;


 }
 .heroText {
     padding: 1rem;
    width: 100%;

 }
 .hero p {
     width: 100%;

 }

.header {
    padding: 1rem;

}
.heroTitle {
    width: 100%;
}

.headerNav {
    display: flex;
    flex-direction: column;

}
.Fimg img {
    width: 50px;
    height: 50px;
}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}
  }

  @media only screen and (max-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 2rem;
        padding-right: 2rem;
    }


  }